body{
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
.first-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.f-section-half{
    width: 50%;
}
.portfolio-details{
    margin: 100px;
    text-align: justify;
}
.name1{
    font-size: 40px;
    font-weight: 500px;
}
#my-name{
    color: rgb(2, 81, 172);
}
section img{
    width: 82%;
    margin-left: 20px;
}

