body{
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
.first-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.f-section-half{
    width: 50%;
}
.portfolio-details{
    margin: 100px;
    text-align: justify;
}
.name1{
    font-size: 40px;
    font-weight: 500px;
}
#my-name{
    color: rgb(2, 81, 172);
}
section img{
    width: 82%;
    margin-left: 20px;
}
.hire-me{
    text-decoration: none;
    background-image: linear-gradient(#de6262, #ffb88c);
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
}
.second-section{
    display: flex;
    margin-top: 70px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    margin-top: 100px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-flex{
    display: flex;
    margin-top: 50px;
}
.experience-half{ 
    text-align: justify;
}
.experience-half1{
    margin-left: 70px;
    margin-right: 70px;
    border-right: 8px solid;
    box-shadow: 5px 5px 12px 1px gray;
    border-image: linear-gradient(#eb3349, #f45c43);
    border-image-slice: 4;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
}
.experience-half2{
    margin-left: 70px;
    margin-right: 70px;
    border-right: 8px solid;
    box-shadow: 5px 5px 12px 1px gray;
    border-image: linear-gradient(#eb3349, #e65f4b);
    border-image-slice: 4;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
}
.footer{
    margin-top: 100px;
    text-align: center;
}